body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
    background-image: url(oecc-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
h1,h2,h3,h4,h5,h6,p,a {font-family: 'Roboto', sans-serif;}
button.btn {
    padding: 1rem 2rem;
    font-size: 2rem;
    background: #2261a4;
    border: 0;
    transition-duration: .3s;
    border-radius: 10px;
    margin: 0 auto;
    display: table;
}
button.btn:hover {
    background: #8dc63f;
}
button.btn a {
    text-decoration: none;
    color: white;
}
.logo-container {
    margin-bottom: 3rem;
}
.logo-container img {
    max-width: 90%;
    margin: 0 auto;
    display: table;
}


.main{
    width:1200px;
}

.eoi-btn{
    margin-top:50px;
}

@media screen {
    
}